<section>
    <form method="post" asp-action="Create">
        <div>
            <div>
                <label>Название курса</label>
                <input type="text" name="Name" />
            </div>
            <div>
                <label>Описание</label>
                <input type="text" name="Description" />
            </div>
            <div>
                <input type="submit" value="Добавить" />
            </div>
        </div>
    </form>
</section>
