@model Course;
<section>
    <form method="post" asp-controller="Courses" asp-action="ConfirmDelete" asp-route-Id="@Model.Id">
        <label>@String.Format(Localizer["ConfirmDeletingLabel"].Value,Model.Name)</label>
        <p><input type="submit" value="@Localizer["ConfirmDeleting"]" /></p>
    </form>
</section>