@model Group;
<section>
    <form method="post" asp-antiforgery="true" asp-controller="Groups" asp-action="Create">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <label>Название группы</label>
                <p><input type="text" asp-for="Name" /></p>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <input type="submit" value="Добавить" />
            </div>
        </div>
    </form>
</section>
