@using WebUniversity.Models;
<section>
    <form method="post" action="Create">
        <div>
            <div>
                <label>Название группы</label>
                <input type="text" name="Name" />
            </div>
            <div>
                <input type="submit" value="Добавить" />
            </div>
        </div>
    </form>
</section>
