@model Group;
<section>
    <form method="post" asp-controller="Groups" asp-action="ConfirmDelete" asp-route-Id="@Model.Id">
        <b>Действительно удалить группу?</b>
        <p><input type="submit" value="Удалить" /></p>
    </form>
</section>