.header_area {
    position: absolute;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
}

    .header_area .navbar {
        background: #002347;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
    }

        .header_area .navbar .nav .nav-item {
            margin-right: 45px;
        }

            .header_area .navbar .nav .nav-item .nav-link {
                font: 500 14px/80px "Rubik", sans-serif;
                text-transform: capitalize;
                color: #002347;
                padding: 0px;
                display: inline-block;
            }

@media (max-width: 991px) {
    .header_area .navbar .nav .nav-item .nav-link {
        color: #ffffff;
    }
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #fdc632;
}

.header_area .navbar .nav .nav-item.submenu {
    position: relative;
}

    .header_area .navbar .nav .nav-item.submenu ul {
        border: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
        background: #fff;
    }

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px;
    }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear;
}

    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        line-height: 45px;
        color: #002347;
        padding: 0px 30px;
        transition: all 150ms linear;
        display: block;
        margin-right: 0px;
    }

    .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
        border-bottom: none;
    }

    .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
        background: #fdc632;
        color: #fff;
    }

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
}

.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    color: #002347;
}

    .header_area .navbar .search i {
        font-weight: 600;
    }

.header_area.white-header .navbar .nav .nav-item.active .nav-link, .header_area.white-header .navbar .nav .nav-item:hover .nav-link {
    color: #fdc632;
}

.header_area.white-header .navbar .nav .nav-item .nav-link {
    color: #ffffff;
}

.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 70px;
    }

    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        color: #002347;
    }

.header_area.white-header.navbar_fixed .main_menu {
    background: #002347;
}

    .header_area.white-header.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link, .header_area.white-header.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link {
        color: #fdc632;
    }

@media (max-width: 1619px) {
    /* Main Menu Area css
	============================================================================================ */
    .header_area .navbar .search {
        margin-left: 40px;
    }

    /* End Main Menu Area css
	============================================================================================ */
}

@media (max-width: 1199px) {
    /* Main Menu Area css
	============================================================================================ */
    .header_area .navbar .nav .nav-item {
        margin-right: 28px;
    }

    /* End Main Menu Area css
	============================================================================================ */
    /* Home Banner Area css
	============================================================================================ */
    .home_banner_area .banner_inner {
        padding: 100px 0px;
    }

    /* End Home Banner Area css
	============================================================================================ */
    .header_area .navbar .tickets_btn {
        margin-left: 40px;
    }
}

@media (max-width: 991px) {
    /* Main Menu Area css
	============================================================================================ */
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }

    .header_area {
        position: absolute;
    }

        .header_area .navbar {
        }

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }

    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }

    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fdc632;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }

    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav {
        padding: 0px 0px;
    }

    .header_area + section,
    .header_area + row,
    .header_area + div {
        margin-top: 117px;
    }

    .header_top .nav {
        padding: 0px;
    }

    .header_area .navbar .nav .nav-item .nav-link {
        line-height: 40px;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px;
    }

    .header_area .navbar .search {
        margin-left: 0px;
    }

    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll;
    }

    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px;
    }

    .header_area .navbar .nav .nav-item {
        margin-right: 0px;
    }

    .header_area + section,
    .header_area + row,
    .header_area + div {
        margin-top: 0px;
        padding-top: 71px;
    }

    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px;
    }
}

.header_area .navbar .tickets_btn {
    margin-left: 0px;
}

banner_area {
    position: relative;
    background: url(../img/banner/banner.jpg) no-repeat center center;
    z-index: 1;
    height: 80px;
    padding-top: 0 !important;
}

.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
    z-index: 1;
}

    .banner_area .banner_inner .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 35, 71, 0.8);
    }

    .banner_area .banner_inner .banner_content {
        position: relative;
        z-index: 2;
        color: #fff;
    }

        .banner_area .banner_inner .banner_content h2 {
            color: #fff;
            font-size: 45px;
            margin-bottom: 0px;
        }

        .banner_area .banner_inner .banner_content .page_link {
            display: inline-block;
            padding: 7px 20px;
        }

            .banner_area .banner_inner .banner_content .page_link a {
                font-size: 15px;
                color: #fff;
                font-family: "Roboto", sans-serif;
                margin-right: 20px;
                position: relative;
                text-transform: capitalize;
            }

                .banner_area .banner_inner .banner_content .page_link a:before {
                    content: "/";
                    position: absolute;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .banner_area .banner_inner .banner_content .page_link a:last-child {
                    margin-right: 0px;
                }

                    .banner_area .banner_inner .banner_content .page_link a:last-child:before {
                        display: none;
                    }

.home_banner_area {
    z-index: 1;
    min-height: 900px;
    position: relative;
    background: url(../img/banner/home-banner.jpg) no-repeat center;
    background-size: cover;
}

    .home_banner_area .banner_inner {
        position: absolute;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
        width: 100%;
    }

@media (max-width: 991px) {
    .home_banner_area .banner_inner {
        top: 50%;
    }
}

.home_banner_area .banner_inner .banner_content h2 {
    font-size: 48px;
    font-weight: 500;
}

.home_banner_area .banner_inner .banner_content p {
    font-size: 20px;
    color: #002347;
    font-weight: 500;
}

.wrapper {
    margin-top: 0px;
    padding-top: 80px;
    /*min-height: 100%;
    display: flex;
    flex-direction: column;*/
    flex: 1 0 auto;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

    .table thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #d8d8d8;
        font-size: 14px;
    }

    .table thead tr th:first-child {
        border-radius: 8px 0 0 8px;
    }

    .table thead tr th:last-child {
        border-radius: 0 8px 8px 0;
    }

    .table tbody td {
        text-align: left;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
    }

    .table tbody tr:nth-child(even) {
        background: #f3f3f3;
    }

    .table tbody tr td:first-child {
        border-radius: 8px 0 0 8px;
    }

    .table tbody tr td:last-child {
        border-radius: 0 8px 8px 0;
    }

.footer-area {
    height: 80px;
    background: #002347;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    flex-shrink: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}