@model WebUniversity.Models.Student
    <section>
        <form method="post" action="Create">
            <div>
                <div>
                    <label>Имя</label>
                    <input type="text" name="FirstName" />
                </div>
                <div>
                    <label>Фамилия</label>
                    <input type="text" name="LastName" />
                </div>
                <div>
                    <input type="submit" value="Добавить" />
                </div>
            </div>
        </form>
    </section>