@model Student;
<section>
    <form method="post" asp-controller="Students" asp-action="ConfirmDelete" asp-route-Id="@Model.Id">
        <b>Действительно удалить студента?</b>
        <p><input type="submit" value="Удалить студента" /></p>
    </form>
</section>